/* Css File for styling*/
.dashboard {
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.empTable {
  width: 75%;
  height: auto;
}
.empOfTheMonth {
  width: 22%;
  height: auto;
}
table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

tr:nth-child(odd) {
  background-color: beige;
}
th {
  border: 1px solid #fff;
  padding: 20px;
  text-align: center;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 1px;
}
td {
  border: 1px solid #fff;
  text-align: left;
  height: 30px;
  font-size: 12px;
  padding: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.5px;
}

.employee-of-the-month {
  padding: 5px;
  border: 1px solid #ddd;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdRz6kGCakyoQXYUw1su2degyGqYml47EC0WnkQg2w7Q&s");
  background-size: contain;
  height: 450px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.employee-of-the-month img {
  width: 100%;
}

.employee-of-the-month h4 {
  color: #1e40ae;
  margin: 0px;
  padding: 10px;
  font-size: 18px;
}
.employee-of-the-month p {
  margin: 0px;
  font-size: 14px;
}
thead tr th {
  background-color: #1e40ae;
}
.date {
  display: flex;
}
.date p {
  margin: 0px;
}
.headingsAndTime {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.headingsAndTime .heading {
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
  margin: 0px;
}
.headingsAndTime div img {
  width: 40px;
  height: 40px;
  display: inline;
}
.headingsAndTime div p {
  display: inline;
}
.dateAndTime {
  font-size: 12px;
  align-self: right;
  letter-spacing: 1px;
  font-weight: bold;
}
